@model IEnumerable<PuertoVaras.Models.Habitacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISPONIBLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_HABITACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NUMERO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISPONIBLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_HABITACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_HABITACION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_HABITACION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_HABITACION })
        </td>
    </tr>
}

</table>
